
@keyframes anim {
    0%{
        background-color: azure;
    }
    25%{
        background-color: rgb(255, 0, 0);
    }
    50%{
        background-color: rgb(255, 217, 0);
    }
    75%{
        background-color: rgb(4, 255, 0);
    }
    100%{
        background-color: white;
    }
}